body {
/*background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../images/wood1.png") center;
*/
  background-color: #69a84e;
  background-repeat: repeat;
  background-size: cover;
  width: 100%; height: 100%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  display: inline;
  font-size: 4.5em;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background: black;
}

h2 {
  font-family: 'Oswald', sans-serif;
  display: inline-grid;
  position: absolute;
  margin: 10px;
  margin-top: 0;
  margin-right: 0;
  padding: 10px;
  top: 0px;
  right: 40px;
  border-radius: 10px;
  float: right;
  font-size: 2em;
  background: black;
  color: white;
  border: 3px solid black;
}

h3 {
  display:inline-grid;
  font-size: 2em;
  margin: 75px 50px 0 0;
  float: right;
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  text-align: center;
  padding: 0;
  margin-top: 1em;
}

form {
  padding: 0;
}

.wrapper{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.score p {
  display: inline-flex;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background: white;
  font-family: 'Oswald', sans-serif;
  margin: 30px;
  padding: 10px;
  align: left;
  font-size: 2em;
  background: white;
  border: 3px solid black;
}

.pond {
  /*background-image: url("../images/pond copy.png");
  background-size: cover;*/
  background: url("../images/pond copy.png") no-repeat fixed center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border-radius: 50%;
  border: 12px solid white;
  width: 40em;
  height: 40em;
  overflow: hidden;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bubble {
  position: absolute;
  display: flex;
  border-radius: 50%;
  border: 3px solid white;
  background-position: -100px -160px;
  width: 120px;
  height: 120px;
  transition-timing-function: linear;
  background-repeat: no-repeat;
  /*animation: moveBubbles 3s infinite;*/
  /*transition: top 2s, left 2s;
  */top: 200px;
}

@keyframes moveBubbles {
  0% {background-color: #a19026}
  25% {background-color: #324a20}
  50% {background-color: #7a7065}
  75% {background-color: #a3933c}
  100% {background-color: #525828}
}

.goldfish.clicked {
  background-image: url("../images/goldfish1.png");
  background-position: top 20px left 6px;
}

.pirnaha.clicked {
  background-image: url("../images/piranha1.png");
  background-position: top 15px left 0px;
}

.landingBox {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background: black;
  margin: auto;
  padding: 0px;
  color: white;
  border: 7px solid #b29d55;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  height: 500px;
  width: 700px;
  z-index: 4;
  align: center;
  animation: fromTop 2s;
}

@keyframes fromTop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

span {
  font-weight: bold;
}

input {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  width: 50%;
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
}

input.button, #restart {
    width: 50%;
    padding: 12px 20px;
    border: none;
    margin: 20px auto;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #b59b3e;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;

}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding: 0px;
  text-align: center;
  padding: none;
  margin: 12px;
}

.gameover {
  display: none;
  background: black;
  margin: auto;
  padding: 70px;
  color: white;
  border: 7px solid #b29d55;
  position:absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  height: 450px;
  width: 700px;
  z-index: 4;
  align: center;
  animation: toTop 3s;
}

@keyframes toTop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .pond {
    background: url("../images/pond copy.png") no-repeat fixed center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 50%;
    border: 15px solid white;
    width: 50em;
    height: 50em;
  }

  input.button, #restart {
    font-size: 1.5em;
  }
}
